<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
        crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
    {% block styles %}
    {% endblock %}
    <title>Da Movies</title>
</head>

<body>

    <div class="center-align extra-margin-top">
            <h1 class="brand-logo text-gold logo-flex"> DaMovies </h1>
            <br>
            <h4 class="text-gold thin"> 404! The page you are looking for does not exist.</h4>
            <br>
            <p class="text-gold"> Click <a href="{{ url_for('home') }}">Here</a> to go back to the home page </p>
    </div>

</body>
