{% extends "base.html" %}

{% block content %}

<h3 class="center-align thin text-gold">Add Movies</h2>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="">
            <div class="card-panel black">
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix white-text"></i>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-plus prefix white-text"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- login -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large bg-seet text-shadow">
                        Sign-In <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% endblock %}