{% extends "base.html" %}

{% block content %}

<h3 class="center-align thin text-gold">Add Movies</h2>

    <div class="row movie-margin">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_movie') }}">
            <div class="card-panel black">
                <!-- genre selection -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix white-text"></i>
                        <select id="genre_name" name="genre_name" class="validate" required>
                        <option value="" disabled selected>Choose Genre</option>
                        {% for genre in genres %}
                        <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                        {% endfor %}
                        </select>
                        <label for="genre_name">Movie Genre</label>
                    </div>
                </div>
                <!-- movie title -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-pencil-alt prefix white-text"></i>
						<input id="title" name="title" type="text" minlength="2"
                            maxlength="25" class="validate" required>
						<label for="title">Title</label>
					</div>
                </div>
                <!-- director -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-video prefix white-text"></i>
						<input id="director" name="director" type="text" minlength="5"
                            maxlength="40" class="validate" required>
						<label for="director">Director</label>
					</div>
                </div>
                <!-- year -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix white-text"></i>
                        <input id="year_release" name="year_release" type="text" minlength="4"
                            maxlength="4" pattern="^[0-9]{4}$" class="validate" required>
                        <label for="year_release">Year of release: <em>Format "yyyy"</em></label>
                    </div>
                </div>
                <!-- plot description -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix"></i>
                        <textarea id="plot" name="plot" min-lenght="5" max-lenght="200"
                            class="materialize-textarea white-text validate" required></textarea>
                        <label for="plot">Plot</label>
                    </div>
                </div>
                <!-- image link -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-camera-retro prefix"></i>
                        <input id="cover_image" name="cover_image" maxlength="1000"
                            type="url" class="validate" aria-describedby="cover_image" pattern="https?://.+" required>
                        <label for="cover_image">Movie cover image: <em> URL </em></label>
                    </div>
                </div>
                <!-- submit button -->
                <div class="row center-align">
                    <button type="submit" class="btn-large bg-grey-dark text-shadow extra-margin2">
                        Add Movie <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% endblock %}