{% extends "base.html" %}
{% block content %}

<h3 class="text-gold thin center-align">Edit Genre</h3>

<div class="row card-panel light1 genres-margin">
    <form class="col s8 offset-s2" method="POST" action="{{ url_for('edit_genre', genre_id=genre._id) }}">
        <!-- genre name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix"></i>
                <input id="genre_name" name="genre_name" type="text" class="validate"
                    value="{{ genre.genre_name }}" required>
                <label for="genre_name">Genre Name</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('get_genres') }}" class="btn-large mild-red text-shadow">
                    Cancel <i class="fas fa-times-cirle right"></i>
                </a>
                <button type="submit" class="btn-large bg-grey-dark text-shadow">
                    Edit Genre <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}