{% extends "base.html" %}

{% block content %}

<h3 class="center-align thin text-gold">Edit Movie</h2>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_movie', movie_id=movie._id) }}">
            <div class="card-panel black">
                <!-- genre selection -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix white-text"></i>
                        <select id="genre_name" name="genre_name" class="validate" required>
                            <option value="" disabled>Choose Genre</option>
                            {% for genre in genres %}
                            {% if genre.genre_name == movie.genre %}
                            <option value="{{ genre.genre_name }}" selected>{{ genre.genre_name }}</option>
                            {% else %}
                            <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label for="genre_name">Movie Genre</label>
                    </div>
                </div>
                <!-- movie title -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix white-text"></i>
                        <input id="title" name="title" type="text" minlength="2" value="{{ movie.title}}" maxlength="25"
                            class="validate" required>
                        <label for="title">Title</label>
                    </div>
                </div>
                <!-- director -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-video prefix white-text"></i>
                        <input id="director" name="director" type="text" minlength="5" value="{{ movie.director}}"
                            maxlength="30" class="validate" required>
                        <label for="director">Director</label>
                    </div>
                </div>
                <!-- year -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix white-text"></i>
                        <input id="year_release" name="year_release" type="text" minlength="4" value="{{ movie.year}}"
                            maxlength="4" pattern="^[0-9]{4}$" class="validate" required>
                        <label for="year_release">Year of release: <em>Format "yyyy"</em></label>
                    </div>
                </div>
                <!-- plot description -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix"></i>
                        <textarea id="plot" name="plot" min-lenght="5" max-lenght="200"
                            class="materialize-textarea white-text validate" required>
                            {{- movie.plot -}}
                        </textarea>
                        <label for="plot">Plot</label>
                    </div>
                </div>
                <!-- image link -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-camera-retro prefix"></i>
                        <input id="cover_image" name="cover_image" maxlength="1000" value="{{ movie.cover_image}}"
                            type="url" class="validate" aria-describedby="cover_image" pattern="https?://.+"
                            onchange="DefaultImg();"> <!-- REMEMBERRR -->
                        <label for="cover_image">Movie cover image: <em> URL (optional)</em></label>
                    </div>
                    <!--<div class="s12 new-img img-container">
                         Image preview container       REMEMBERRR
                        <img class="img-window" src="#" alt="Preview of recipe image">
                    </div>-->
                </div>
                    <!-- edit/delete button -->
                <div class="row">
                    <div class="col s12 center-align extra-margin2">
                        <a href="{{ url_for('get_movies') }}" class="btn-large mild-red text-shadow">
                            Cancel <i class="fas fa-times-cirle-right"></i>
                        </a>
                        <button type="submit" class="btn-large bg-grey-dark text-shadow">
                            Edit Movie <i class="fas fa-edit"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% endblock %}