{% extends "base.html" %}
{% block content %}

    <h3 class="center-align thin text-gold center-align extra-margin">Manage Genres</h3>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('get_genres') }}" class="btn-large dark1">
                Add Genre <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <div class="row">
        {% for genre in genres %}
            <div class="col m4 s12">
                <div class="card bg-grey center-align">
                    <div class="card-content white-text">
                        <span class="card-title">{{ genre.genre_name }} 
                        <a href="" class="btn dark1 right">Edit</a>
                        <a href="" class="btn light1 right">Delete</a></span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}