{% extends "base.html" %}
{% block content %}

    <h3 class="thin center-align text-gold">Sign-In</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel bg-grey-dark">

                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix white-text"></i>
						<input id="username" name="username" type="text" minlength="3"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Username</label>
					</div>
                </div>
                
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-lock prefix white-text"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>

                <!-- login -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large bg-black text-shadow">
                        Sign-In <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- link to register -->
    <div class="row movie-margin">
        <div class="col s12">
            <p class="center-align">
                Not registered yet?
                <a href="{{ url_for('register') }}">Register</a>
            </p>
        </div>
    </div>

{% endblock %}