{% extends "base.html" %}
{% block content %}

<h3 class="center-align thin text-gold">Movie Catalogue</h2>

<div class="row limit padding-2">
    {% for movie in movies %}
        <div class="col s12 m6 l4 cards">
            <div class="card">
                <div class="card-image">
                    {% if movie.cover_image %}
                        <img src="{{ movie.cover_image }}" alt="movie image" class="responsive-img">
                    {% else %}
                        <img class="responsive-img" alt="Deafult image of movie" src="#">
                    {% endif %}
                </div>
                <div class="card-content bg-grey-dark">
                    <span class="card-title activator white-text thin">
                        {{ movie.title }}
                    </span>
                </div>
                <div class="card-reveal bg-seet-blur white-text thin">
                    <span class="card-title"><i class="fas fa-times right"></i>
                        {{ movie.title }}</span>
                    <p> 
                        <em>Directed by :</em> {{ movie.director }}<br>
                        <em>Year :</em> {{ movie.year }}<br>
                        <em>Genre :</em> {{ movie.genre }} <br>
                        <em>Plot :</em> {{ movie.plot }}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}