{% extends "base.html" %}
{% block content %}

<h3 class="center-align thin text-gold extra-margin">Movie Catalogue</h2>

<div class="row limit padding-2 movie-margin">
    {% for movie in movies| sort(attribute='title') %}
        <div class="col s12 m6 l4 cards">
            <div class="card">
                <div class="card-image">
                    {% if movie.cover_image %}
                        <img src="{{ movie.cover_image }}" alt="movie image" class="responsive-img">
                    {% else %}
                        <img class="responsive-img" alt="Deafult image of movie" src="#">
                    {% endif %}
                </div>
                <div class="card-content card-movie bg-grey-dark">
                    <span class="card-title activator white-text thin">
                        {{ movie.title }}
                        <i class="fas fa-ellipsis-v right"></i>
                    </span>
                {% if session.user|lower == movie.created_by|lower or session.user|lower == "admin"|lower %}
                    <a href="{{ url_for('edit_movie', movie_id=movie._id) }}" class="btn-small dark1">Edit</a>
                    <a href="{{ url_for('delete', movie_id=movie._id) }}" class="btn-small light1 sure">Delete</a>
                {% endif %}
                    
                </div>
                <div class="card-reveal bg-seet-blur white-text thin">
                    <span class="card-title"><i class="fas fa-times right"></i>
                        {{ movie.title }}</span>
                    <p> 
                        <em>Directed by :</em> <strong>{{ movie.director }}</strong><br>
                        <em>Year :</em> <strong>{{ movie.year }}</strong><br>
                        <em>Genre :</em> <strong>{{ movie.genre }}</strong> <br>
                        <em>Plot :</em> <strong>{{ movie.plot }}</strong> <br><br>
                        <p><em>Posted by: <strong>{{ movie.created_by }}</strong></em></p>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}